@charset "utf8";

// Colors
$Accent: #53B0AE;
$Dark: #222831;
$Dark_gray: #393e46;
$Mid_gray: #717171;
$Light_gray: #eeeeee;
$White: #ffffff;
$Error: #ff7d7d;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

$Cursive: 'Quicksand', sans-serif;
$Standar: 'Raleway', sans-serif;

// Breakpoints
$bp_xs: 600px;
$bp_sd: 640px;
$bp_md: 768px;
$bp_ld: 992px;
$bp_xl: 1200px;

// Forms
@import './forms/default.scss';

@import '../App.scss'
