@import '../styles/themes/default.scss';


.home__menu {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    height: 70px;
    background-color: $Dark;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    z-index: 5;

    .menu__logo {
        height: 50px;
    }

    .menu__ul {
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-direction: row;

        .menu__item {
            color: $Light_gray;
            font-family: $Standar;
            padding: 1em;

            .menu__link {
                color: $Light_gray;
                text-decoration: none;
                &:hover {
                    color: $Accent;
                }
            }
        }
    }
}
