@import '../themes/default.scss';

.themedform {
  &.newmoduleform {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);

    .description, .themedform__submit {
      grid-column: 1/3;
    }
  }
}

.NewModule__form--form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 1px $Light_gray;
  padding: 2em;
  font-family: $Standar;

  label {
    color: $Dark_gray;
  }
}